@import "tailwindcss";

:root {
  scroll-behavior: smooth;
  --background: #010316;
  --background-secondary: #040210;
  --foreground: #EEEEEE;

  --card: #13132D;
  --card-foreground: #EEEEEE;



  --primary: #E41AD6;

  --secondary: #3540E8;
  --secondary-foreground: #262818;

  --muted: 79 15% 15%;
  --muted-foreground: #FFF;

  --accent: #FEEBCB;
  --accent-foreground: #2D3748;

  --popover: #010316;
  --popover-foreground: #EEEEEE;

  /* 
  --primary-foreground: ;
  
  --destructive: ;
  --destructive-foreground: ;

  --border: ;
  --input: ;
  --ring: ;

  --radius: ; */

  }

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --font-sans: var(--font--sans);
  --font-mono: var(--font--mono);

}


body {

  font-family: Arial, Helvetica, sans-serif;
}



.gradient-border {
  
  position: relative;
  background-color: black;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 0;
  font-size: 16px;
  font-weight: 700;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(to right, var(--secondary), var(--primary)); /* azul a rosa */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}